html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #8360c3, #2ebf91);
}

.calculator {
	background-color: white;
	width: 400px;
	border-radius: 12px;
	box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

/* Display */
.calculator-display {
	background-color: black;
	color: white;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
	margin: 0;
	padding: 25px;
	font-size: 45px;
	font-family: 'Lucida Console', sans-serif;
	font-weight: 100;
	overflow-x: auto;
}

/* Custom scrollbar */
::-webkit-scrollbar {
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Buttons */
.calculator-buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding: 10px;
}

button {
	min-height: 50px;
	font-size: 20px;
	font-weight: 100;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: rgb(199, 199, 199);
}

button:hover {
	filter: brightness(110%);
}

button:active {
	background-color: lightblue;
}

button:focus {
	outline: none;
}

.operator {
	background-color: grey;
	color: white;
	font-size: 30px;
}

.clear {
	background-color: rgba(255, 40, 40);
	color: white;
}

.clear:hover {
	filter: brightness(90%);
}

.equals-sign {
	grid-column: -2;
	grid-row: 2 / span 4;
	background-color: rgb(13, 206, 87);
}

/* Media queries: Large smartphone (veritcal) */
@media screen and (max-width: 600px) {
	.calculator {
		width: 95%;
	}
}

@media screen and (max-width: 400px) {
	button {
		width: 76px;
	}
}
